* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-products {
  display: block;
}

.product {
  margin: 20px 0; /* espacio chiquito entre items */
  width: auto; /* que se ajuste al contenido */
}
